

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  background: #F5F5B0;
}

.todo-container {
  max-width: 1000px;
  margin: 3rem auto;
  padding: 2rem;
  background: #fff;
  /* border-radius: 5px; */
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.2);
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}

.header h1 {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.search-wrapper,
.add-todo-wrapper {
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

form {
  display: flex;
  /* flex-direction: column; */
}

input,
textarea {
  padding: 0.5rem;
  border: 1px solid #ddd;
  /* border-radius: 4px; */
  outline: none;
}

button[type="submit"],
button {
  padding: 0.5rem;
  border: none;
  /* border-radius: 4px; */
  background: #f94144;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease-out;
}
/* 
button[type="submit"]:hover,
button:hover {
  background: #f53b2a;
} */

.search-wrapper button,
.add-todo-wrapper button {
  background-color: #7635FA;
}

.search-wrapper button:hover,
.add-todo-wrapper button:hover {
  background-color: #6f48bf;
}

.todos-wrapper .todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid #ddd;
}

.todo-item:last-child {
  border: none;
  padding-bottom: 0;
}

.todo-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.todo-title-wrapper .title-checkbox {
  display: flex;
  align-items: center;
}

.todo-title-wrapper .title-checkbox .checkbox {
  margin-right: 1rem;
  cursor: pointer;
}

.todo-title-wrapper .title-checkbox h4 {
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: capitalize;
}

.todo-title-wrapper .title-checkbox h4.finished {
  text-decoration: line-through;
  color: #777;
}

.todo-title-wrapper p {
  margin-left: 8px;
}

.filter-todos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  order: -1; /* Move filter-todos to the top */
}

.filter {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  color: #fff;
  background: #555;
  /* border-radius: 4px; */
  cursor: pointer;
  transition: background 0.3s ease-out;
}

.filter.selected,
.filter:hover {
  background: #333;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: #fff;
  max-width: 500px;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.2);
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.search-todos{
  flex: 1;
}

.form-style{
  display: flex;
  gap: 2%;

}
.form-style-space{
  justify-content: space-between;
}

.add-todo-title,.add-todo-desc{
  flex:1;
}
.btn-search{
  width: 70px;
}

#filterDropdown{
  width: 122px;
  height: 30px;
}

.finished {
  background: green;
  width: 79px;
}

.unfinished {
  background: grey;
}

h1[id='title']{
  color: #7635FA;
}