:root {
    --width: 1000px;
    --height: 600px;
}

.container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-window {
    width: var(--width);
    height: var(--height);
    overflow: hidden;
    position: relative;
}

.image-slide {
    width: var(--width);
    height: var(--height);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease-in-out;

    display: flex;
    align-items: center;
}

.image-slide__item {
    width: var(--width);
    height: var(--height);
    margin: 0;
}

.image-slide__item img {
    width: var(--width);
    height: var(--height);
    object-fit: cover;
}

.arrow-icons {
    position: absolute;
    z-index: 1;
    top: 300px;
    left: -10px;
    display: flex;
    justify-content: space-between;
    width: var(--width);
}

.arrow {
    width: 50px;
    height: 50px;
    margin: 0;
    cursor: pointer;
}

.arrow img {
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.slide-indicators {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: var(--width);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-indicator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 5px;
    cursor: pointer;
}

.slide-indicator--active {
    background-color: red;
}