@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&display=swap");

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  line-height: 1.75;
}

a {
  color: $link-color;
  text-decoration: none;
}

button {
  appearance: none;
  border: none;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
input[type="range"] {
  accent-color: #ff8232;
  height: 5px;
  width: 100%;
}
input[type="text"] {
  border: none;
  background-color: #121212;
  color: white;
}
select {
  appearance: none;
  border: none;
  background-color: #121212;
  color: #ff8232;
  // height: 5px;
}
canvas {
  display: block;
  margin: 20px auto;
}
