.modal{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(49, 44, 44, 0.2);
    display: none;
    &__form{
        position: absolute;
        background-color: white;
        width: 50vw;
        height: 50vh;
        left: 25vw;
        top: 25vh;
        padding: 20px;
        border-radius: 10px;
        display: none;
    }
    &__title{
        color: #ff8232;
        font-weight: bold;
    }
    &__edit{
        display: block;
        color: white;
        background-color: #ff8232;
        cursor: pointer;
        border-radius: 2px;
        padding: 8px;
    }
}