.container {
  padding: 0 30px;
  height: 100%;
  // display: flex;
  // @media screen and (min-width: 992px) {
  //   padding: 0 36px;
  // }
  // @media screen and (min-width: 1200px) {
  //   padding: 0;
  //   max-width: 1200px;
  //   // margin: 0 auto;

    
  // }
  // @media screen and (min-width: 575px) {
  //   padding: 0 25px;
  // }

  // @media screen and (max-width:992px){
  //   padding: 0px;
  // }
 
}

.card{
  background-color: #121212;
  border-radius: 10px;
  padding: 12px;
  height: 100%;
  margin: 9% 0px;
  &__equalizer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

}
