// .btn {
//   font-weight: 600;
//   border-radius: 8px;
//   border: none;
//   cursor: pointer;
//   //   default button is medium sized
//   padding: 16px 32px;
//   //   small sized button
//   &.small {
//     padding: 12px 24px;
//     line-height: 20px;
//   }
// }

.btn {
  &__solid {
    display: inline-flex;
    padding: 20px 25px;
    cursor: pointer;
    gap: 10px;
    border-radius: 20px;
    background: #17c2ec;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    &:hover {
      background: #1494bb; /* Change to your desired hover background color */
    }
    // @media screen and (max-width: 1200px) {
    //   min-width: 236px;
    // }
     @media screen and (max-width: 1200px) {
    
        font-size: 20px;
        max-width: 175px;
        max-height: 64px;
      }
      @media screen and (max-width: 992px) {
     
        font-size: 14px;
        max-width: 138px;
        max-height: 50px;
      }
    &-verify {
      display: inline-flex;
      padding: 20px 57px;
      align-items: flex-start;
      cursor: pointer;
      gap: 10px;
      border-radius: 20px;
      background: #17c2ec;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      &:hover {
        background: #1494bb; /* Change to your desired hover background color */
      }
      p {
        color: #fff;

        font-family: $font-family;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        @media screen and (max-width: 1200px) {
          margin: 0 auto;
          font-size: 20px;
        }
        @media screen and (max-width: 992px) {
          margin: 0 auto;
          font-size: 14px;
        }
      }
    }
    p {
      color: #fff;
      margin: 0 auto;
      font-family: $font-family;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
     
    }
  }
  &__outline {
    display: inline-flex;
    padding: 20px 26px;
    align-items: flex-start;
    cursor: pointer;
    gap: 10px;
    border: 2px solid #17C2EC;
    border-radius: 20px;
    background: rgba(196, 196, 196, 0.1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    &:hover {
      background: rgba(23, 194, 236, 0.2); /* Change to your desired hover background color */
    }
    p {
      color: #fff;

      font-family: $font-family;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      font-family: $font-family;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      @media screen and (max-width: 1200px) {
        margin: 0 auto;
        font-size: 20px;
      }
      @media screen and (max-width: 992px) {
        margin: 0 auto;
        font-size: 14px;
      }
    }
  }
  &__btn {
    @media screen and (min-width: 1200px) {
      display: none;
    }
  }
  &__check {
    border-radius: 20px;
    background:rgba(196, 196, 196, 0.10);;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: inline-flex;
    padding: 20px 26px;
    align-items: flex-start;
    cursor: pointer;
    &:hover {
      background: rgba(23, 194, 236, 0.2); /* Change to your desired hover background color */
    }
    p {
      color: #17c2ec;

      font-family: $font-family;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      @media screen and (max-width: 1200px) {
        margin: 0 auto;
        font-size: 20px;
      }
      @media screen and (max-width: 992px) {
        margin: 0 auto;
        font-size: 14px;
      }
    }
    @media screen and (max-width: 1200px) {
      display: none;
    }
  }
}
